li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding: 30px 20px;
    color: $primary;
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-weight: 500;


    .navbar-logo {
        width: 180px;
        margin-left: -50px;
    }
}



.nav-links a {
    color: $primary;

}

/* LOGO */
.logo {
    font-size: 32px;
    margin-top: -10px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: white;
    //padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    top: 35px;
}

.dropdown li+li {
    margin-top: 0px;
}

.dropdown li {
    padding: 0.2em 0em;
    width: 4em;
    text-align: left;
    margin-left: -20px;
}

.dropdown li:hover {
    background-color: white;
}

.services:hover .dropdown {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1200px) {
    .navbar {
        justify-content: space-between;
        padding: 20px 0;
        transition: $transition;
    }

    .services {
        position: relative !important;
        right: inherit;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: white;
        right: 0;
        text-align: center;
        padding: 0 0;
        width: 100%;
        margin-top: 25px;
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }

}

.uk-flag {
    &::before {
        content: url("../images/uk.png");
        width: 20px;
        height: 10px;
        margin-right: 10px;
    }
}

.rs-flag {
    &::before {
        content: url("../images/rs2.png");
        width: 20px;
        height: 10px;
        margin-right: 10px;
    }
}

.nav-left {
    display: flex;
}


.services {
    position: fixed;
    right: 0;
    &::before {
        content: url("../images/arrow2.png");
        width: 6px;
        height: 6px;
        position: absolute;
        background-position: center;
        right: -20px;
        top: 2px;
    }
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: $red;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}