@import "_variables";
@import "_hero";
@import "_main";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');


html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    color: $primary;
    position: relative;
}

p{
    font-size: 18px;
    color: $secondary;
}

button{
    border: none;
    outline: none;
    transition: $transition;
    font-weight: 700;
    &:hover{
        transform: scale(1.1);
    }

}
.primary-btn{
    background-color: $primary;
    color: white;
    width: 165px;
    height: 50px;
    margin-top: 20px;
}

.secondary-btn{
    background-color: transparent;
    color: $primary;
    width: 165px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid $light;
}

.container-custom{
    max-width: 1900px;
    width: 90%;
    margin: 0 auto;
}