@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@-webkit-keyframes upToDownLoad {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0x);
            transform: translateY(0x);
  }
}
@keyframes upToDownLoad {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0x);
            transform: translateY(0x);
  }
}

@-webkit-keyframes leftToRightLoad {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0x);
            transform: translateX(0x);
  }
}

@keyframes leftToRightLoad {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0x);
            transform: translateX(0x);
  }
}

@-webkit-keyframes rightToLeftLoad {
  from {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0x);
            transform: translateX(0x);
  }
}

@keyframes rightToLeftLoad {
  from {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0x);
            transform: translateX(0x);
  }
}

.overlay {
  background-color: black;
  opacity: 0.7;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

header {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar {
  z-index: 100;
  max-width: 1900px;
  width: 90%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 30px 25px;
  background-color: transparent !important;
}

header .navbar .nav-item {
  font-weight: 500;
  color: #111111;
  margin-right: 30px;
}

header .navbar .dropdown {
  font-weight: 500;
  color: #111111;
}

header .navbar .navbar-logo {
  width: 170px;
  margin-left: -40px;
}

header .navbar .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .navbar-nav .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .hero {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

header .hero .hero-content {
  max-width: 680px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5%;
}

header .hero .hero-content .hero-title {
  font-size: 70px;
  font-weight: 700;
  opacity: 0;
  -webkit-animation: 1000ms upToDownLoad forwards;
          animation: 1000ms upToDownLoad forwards;
}

header .hero .hero-content .hero-description {
  opacity: 0;
  -webkit-animation: 1000ms upToDownLoad 200ms forwards;
          animation: 1000ms upToDownLoad 200ms forwards;
}

header .hero .hero-content .hero-read-more {
  margin-right: 20px;
  opacity: 0;
  -webkit-animation: 1000ms upToDownLoad 500ms forwards;
          animation: 1000ms upToDownLoad 500ms forwards;
}

header .hero .hero-content .hero-read-kontakt {
  margin-right: 20px;
  opacity: 0;
  -webkit-animation: 1000ms upToDownLoad 500ms forwards;
          animation: 1000ms upToDownLoad 500ms forwards;
}

header .hero .hero-content .hero-title-highlight {
  position: relative;
}

header .hero .hero-content .hero-title-highlight::before {
  content: "";
  height: 7px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FF0000;
}

header .hero .hero-image {
  position: absolute;
  background-image: url("../images/hero.png");
  background-position: bottom;
  background-size: cover;
  width: 40%;
  height: 100%;
  max-width: 800px;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-animation: 1000ms upToDownLoad 1000ms forwards;
          animation: 1000ms upToDownLoad 1000ms forwards;
}

header .hero-contact-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  opacity: 0;
  -webkit-animation: 1000ms upToDownLoad 800ms forwards;
          animation: 1000ms upToDownLoad 800ms forwards;
}

header .hero-contact-info a {
  color: #6E757F;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 400;
}

header .hero-contact-info .hero-contact-info-tel {
  position: relative;
  margin-left: 35px;
}

header .hero-contact-info .hero-contact-info-tel::before {
  position: absolute;
  content: url("../images/phone-call.png");
  background-size: cover;
  background-position: center;
  width: 10px;
  height: 10px;
  left: -35px;
  top: 3px;
}

header .hero-contact-info .hero-contact-info-mail {
  position: relative;
  margin-left: 35px;
}

header .hero-contact-info .hero-contact-info-mail::before {
  position: absolute;
  content: url("../images/email.png");
  background-size: cover;
  background-position: center;
  width: 10px;
  height: 10px;
  left: -35px;
  top: 1px;
}

header .hero-arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: Bounce 800ms infinite alternate;
          animation: Bounce 800ms infinite alternate;
}

header .hero-arrow img {
  width: 25px;
  height: 25px;
}

@-webkit-keyframes Bounce {
  from {
    bottom: 20px;
  }
  to {
    bottom: 30px;
  }
}

@keyframes Bounce {
  from {
    bottom: 20px;
  }
  to {
    bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .hero-description {
    max-width: 450px;
  }
}

@media (max-width: 976px) {
  .hero-title {
    font-size: 60px !important;
  }
}

@media (max-width: 830px) {
  .hero-title {
    font-size: 55px !important;
  }
  .hero-description {
    max-width: 420px;
  }
}

@media (max-width: 768px) {
  .hero-description {
    max-width: 400px;
  }
  .hero-title {
    font-size: 50px !important;
  }
  .hero-image {
    background-image: url("../images/hero.png") !important;
  }
}

@media (max-width: 680px) {
  .navbar {
    padding: 20px 10px 0 10px !important;
  }
  .navbar-logo {
    width: 120px !important;
    margin-left: -30px !important;
  }
  .hero-image {
    position: relative !important;
    height: 438px !important;
    width: 100% !important;
    z-index: -10 !important;
    background-image: url("../images/hero.png") !important;
    /*
        &::before {
            content: "";
            background-color: white;
            width: 10%;
            height: 40%;
            position: absolute;
            right: 0;
            top: -1px;
        }
        */
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 0px 0 0px !important;
  }
  .hero .hero-content {
    margin-bottom: 50px !important;
    z-index: 6 !important;
  }
  .hero .hero-content .hero-title {
    font-size: 42px !important;
    line-height: 42px;
  }
  .hero .hero-content .hero-description {
    color: #111111;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 20px;
  }
  .hero .hero-content .secondary-btn {
    display: none;
  }
  .hero .hero-content .hero-read-more {
    width: 117px !important;
    height: 35px !important;
    font-size: 14px !important;
    margin-top: -10px !important;
  }
}

@media (max-width: 420px) {
  .hero-image {
    position: relative !important;
    height: 438px !important;
    width: 100% !important;
    z-index: -10 !important;
    background-image: url("../images/hero_mobile.png") !important;
  }
}

.partneri {
  height: 300px;
  width: 100%;
  padding: 70px 0 70px 0;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partneri .partneri-title {
  font-weight: 600;
  font-size: 35px;
}

.partneri .partneri-image-container {
  margin-top: 30px;
}

.partneri .partneri-image-container img {
  width: 130px;
  margin: 0 50px;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.partneri .partneri-image-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.short-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}

.short-history .short-history-title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
}

.short-history .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.short-history .row .short-history-image {
  width: 500px;
  margin-right: 50px;
}

.short-history .row .short-history-content {
  max-width: 540px;
  position: relative;
}

.short-history .row .short-history-content .short-history-content-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.short-history .row .short-history-content .short-history-content-description {
  font-size: 17px;
}

.proizvodi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 0;
}

.proizvodi .proizvodi-title {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
}

.proizvodi .proizvodi-margina {
  margin-top: 200px;
}

.proizvodi .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.proizvodi .row .proizvodi-image {
  width: 550px;
  height: 400px;
  margin-right: 50px;
}

.proizvodi .row .proizvodi-content {
  position: relative;
  max-width: 550px;
}

.proizvodi .row .proizvodi-content .proizvodi-content-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.proizvodi .row .proizvodi-content .proizvodi-content-description {
  font-size: 17px;
}

.zasto-boja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0;
  background-color: #F9F9F9;
}

.zasto-boja .zasto-boja-title {
  font-weight: 700;
}

.zasto-boja .zasto-boja-desc {
  margin-top: -10px;
  margin-bottom: 50px;
}

.zasto-boja .zasto-boja-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zasto-boja .zasto-boja-container .zasto-boja-card {
  background-color: white;
  padding: 32px;
  margin: 0 20px;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  height: 250px !important;
}

.zasto-boja .zasto-boja-container .zasto-boja-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.zasto-boja .zasto-boja-container .zasto-boja-card img {
  width: 32px;
}

.zasto-boja .zasto-boja-container .zasto-boja-card .zasto-boja-card-title {
  margin-top: 20px;
  font-weight: 700;
}

.zasto-boja .zasto-boja-container .zasto-boja-card .zasto-boja-card-desc {
  margin-top: 20px;
  max-width: 300px;
}

.row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.counter {
  font-size: 25px;
  margin: 0;
}

.procitaj-vise {
  position: absolute;
  left: 10px;
  bottom: 0;
  color: #111111;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #111111;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.procitaj-vise:hover {
  color: #FF0000;
}

.celoukupan-program-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 0 10px;
  margin-top: 100px;
}

.celoukupan-program-section .celoukupan-program-section-title {
  font-weight: 700;
  text-align: center;
}

.quote-section {
  width: 100%;
  background-color: #F9F9F9;
  padding: 70px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote-section .quote-section-wrapper {
  max-width: 1200px;
}

.quote-section .quote-section-title {
  font-weight: 700;
  font-size: 35px;
}

.quote-section .quote-section-desc {
  max-width: 100%;
  font-size: 22px;
  margin-top: 20px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 100px 0;
}

.location .location-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
}

.location .location-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location .location-wrapper .map-img {
  margin-right: 50px;
  height: 300px;
}

.location .location-wrapper .location-info {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.location .location-wrapper .location-info .location-info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.location .location-wrapper .location-info .location-info-row .location-info-row-title {
  font-size: 24px;
  font-weight: 600;
  color: #111111;
}

.location .location-wrapper .location-info .location-info-row .location-info-row-desc {
  font-size: 18px;
  margin-top: -5px;
}

.home-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
  background-color: #F9F9F9;
  padding: 50px 0;
}

.home-contact-container .home-contact-logo {
  width: 150px;
}

.home-contact-container .home-contact-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
}

.home-contact-container .home-contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  max-width: 500px;
}

.home-contact-container .home-contact-form label {
  margin-top: 10px;
}

.home-contact-container .home-contact-form input {
  height: 50px;
  border: 2px solid #D1D1D1;
  padding: 0 20px;
  outline: none;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.home-contact-container .home-contact-form input:focus {
  border: 2px solid #067aff;
}

.home-contact-container .home-contact-form .home-contact-form-poruka {
  height: 200px;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.home-contact-container .form-agreement-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  color: #858585;
}

.home-contact-container .form-agreement-wrapper .form-agree {
  display: inline-block;
  margin-right: 10px;
  margin-top: -2px;
}

.home-contact-container .form-submit {
  margin-left: auto;
  margin-right: auto;
  outline: none !important;
  border: none !important;
}

.home-contact-container .form-submit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.vesti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
}

.vesti .vesti-title {
  font-weight: 700;
  margin: 50px 0;
}

.vesti .vesti-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vesti .vesti-glavna-vest {
  max-width: 550px;
  padding-right: 50px;
  margin-right: 50px;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.vesti .vesti-glavna-vest:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.vesti .vesti-glavna-vest .glavna-vest-image {
  width: 550px;
  height: 350px;
}

.vesti .vesti-glavna-vest h5 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 20px;
}

.vesti .vesti-glavna-vest .vesti-glavna-vest-datum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vesti .vesti-glavna-vest .vesti-glavna-vest-datum img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.vesti .vesti-glavna-vest .vesti-glavna-vest-datum p {
  margin-bottom: 0 !important;
  font-size: 14px;
}

.vesti .vesti-glavna-vest .vesti-glavna-vest-opis {
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}

.vesti .vesti-glavna-vest .vesti-glavna-vest-opis {
  font-size: 18px;
}

.vesti .vesti-glavna-vest .vesti-procitaj-vise {
  color: #111111;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid #111111;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.vesti .vesti-manje {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
}

.vesti .vesti-manje:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.vesti .vesti-manje .vesti-manje-image {
  width: 200px;
  height: 130px;
  margin-right: 40px;
}

.vesti .vesti-manje .vesti-manje-datum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vesti .vesti-manje .vesti-manje-datum img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.vesti .vesti-manje .vesti-manje-datum p {
  margin-bottom: 0 !important;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .proizvodi-image {
    width: 450px !important;
  }
  .proizvodi-content {
    width: 450px !important;
  }
  .partneri-image-container img {
    margin: 0 30px !important;
  }
}

@media (max-width: 1100px) {
  .zasto-boja-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .zasto-boja-container .zasto-boja-card {
    margin-top: 20px !important;
  }
}

@media (max-width: 976px) {
  .proizvodi-margina {
    margin-top: 20px !important;
  }
  .proizvodi,
  .short-history {
    padding: 30px !important;
  }
  .proizvodi-image,
  .short-history-image {
    margin-top: 50px !important;
  }
  .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    padding: 0 0 30px 0;
    border-bottom: 2px solid #D1D1D1;
  }
  .partneri-image-container img {
    margin: 0 7px !important;
    width: 100px !important;
  }
  .quote-section {
    padding: 70px 10% !important;
  }
  .quote-section .quote-section-desc {
    font-size: 18px !important;
  }
  .location-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .location-wrapper .map-img {
    margin-right: 0 !important;
  }
  .location-wrapper .location-info {
    margin-top: 40px !important;
  }
}

@media (max-width: 640px) {
  .hide-testing {
    display: none !important;
  }
  .celoukupan-program-section {
    margin-top: 20px !important;
  }
  .quote-section {
    margin-top: 50px !important;
    padding: 70px 5% !important;
  }
  .quote-section .quote-section-desc {
    font-size: 16px !important;
  }
}

@media (max-width: 620px) {
  .proizvodi-title,
  .short-history-title {
    font-size: 30px !important;
  }
  .proizvodi-image,
  .short-history-image {
    width: 100% !important;
    height: auto !important;
    margin-top: 40px !important;
  }
  .proizvodi-content,
  .short-history-content {
    width: 93% !important;
  }
  .proizvodi-content-title,
  .short-history-content-title {
    font-size: 25px !important;
  }
  .proizvodi-content-description,
  .short-history-content-description {
    font-size: 16px !important;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    height: 147px;
    margin-bottom: 50px;
    line-height: 30px;
  }
  .proizvodi-margina {
    margin-top: 80px !important;
  }
  .location {
    padding: 100px 0 50px 0 !important;
  }
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 20px;
  color: #111111;
  font-family: 'Raleway', sans-serif;
  position: relative;
  font-weight: 500;
}

.navbar .navbar-logo {
  width: 180px;
  margin-left: -50px;
}

.nav-links a {
  color: #111111;
}

/* LOGO */
.logo {
  font-size: 32px;
  margin-top: -10px;
}

/* NAVBAR MENU */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: white;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  top: 35px;
}

.dropdown li + li {
  margin-top: 0px;
}

.dropdown li {
  padding: 0.2em 0em;
  width: 4em;
  text-align: left;
  margin-left: -20px;
}

.dropdown li:hover {
  background-color: white;
}

.services:hover .dropdown {
  display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 1200px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    -webkit-transition: 200ms all ease;
    transition: 200ms all ease;
  }
  .services {
    position: relative !important;
    right: inherit;
  }
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    text-align: center;
    padding: 0 0;
    width: 100%;
    margin-top: 25px;
  }
  .menu li:hover {
    display: inline-block;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}

.uk-flag::before {
  content: url("../images/uk.png");
  width: 20px;
  height: 10px;
  margin-right: 10px;
}

.rs-flag::before {
  content: url("../images/rs2.png");
  width: 20px;
  height: 10px;
  margin-right: 10px;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services {
  position: fixed;
  right: 0;
}

.services::before {
  content: url("../images/arrow2.png");
  width: 6px;
  height: 6px;
  position: absolute;
  background-position: center;
  right: -20px;
  top: 2px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #FF0000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #FF0000;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 170px 100px 200px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

footer .footer-logo {
  width: 160px;
}

footer .footer-col-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
  text-transform: uppercase;
}

footer .footer-col-element {
  margin-bottom: 30px;
  font-size: 16px;
  color: #111111;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .footer-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer-col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

footer .footer-col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-col-4 a {
  text-decoration: none;
  color: #111111;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .footer-credits {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 50px;
  padding: 0 100px;
}

footer .footer-credits .footer-copyright {
  font-size: 14px !important;
}

footer .footer-credits a {
  font-size: 14px !important;
  color: #6E757F;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1200px) {
  footer {
    padding: 170px 0 !important;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 50px 0px 150px 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .footer-col {
    margin-top: 50px !important;
    width: 50% !important;
    -webkit-box-flex: inherit !important;
        -ms-flex: inherit !important;
            flex: inherit !important;
  }
  .footer-logo {
    margin-left: -30px;
  }
  .footer-credits {
    position: relative !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50% !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 120px !important;
    padding: 0 !important;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #111111;
  position: relative;
  overflow-x: hidden;
}

p {
  font-size: 18px;
  color: #6E757F;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  -webkit-transition: 200ms all ease;
  transition: 200ms all ease;
  font-weight: 700;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

li {
  list-style: none;
}

.primary-btn {
  background-color: #111111;
  color: white;
  width: 165px;
  height: 50px;
  margin-top: 20px;
}

.secondary-btn {
  background-color: transparent;
  color: #111111;
  width: 165px;
  height: 50px;
  margin-top: 20px;
  border: 1px solid #D1D1D1;
}

.container-custom {
  max-width: 1900px;
  width: 90%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */